[run]
branch = True
source = vcf2tped

[report]
exclude_lines = 
    pragma: no cover
    class AssertLogsContext_Compatibility
    class CapturingHandler_Compatibility
    class BaseTestCaseContext_Compatibility

[html]
title = Coverage report - vcf2tped
